<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to social platform</h1>
  <div class="container">
    <ul>
      <li>
        <a href="/auth/google"><i class="fa fa-google"></i>&nbsp;Login</a>
      </li>
      <li>
        <a href="/auth/twitter"><i class="fa fa-twitter"></i>&nbsp;Login</a>
      </li>
      <li>
        <a href="/auth/facebook"><i class="fa fa-facebook"></i>&nbsp;Login</a>
      </li>
    </ul>
  </div>





  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>